/* INICIO DE FUENTES */
@font-face {
  font-family: "titulos";
  src: url(.././fonts/Moki-Mono.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "subtitulos";
  src: url(.././fonts/nidsans-webfont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}